/* .form-control{
    width: 50%;
} */

.body {
    max-width: 400px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .body {
        max-width: 100%;
        padding: 0 20px;
    }
    .form-control {
        width: 100%;
    }
}
